.list-inside {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.skills-icon {
    max-width: 120px !important;
}

.second-skills-row {
    margin-top: 30px;
}

.shards-landing-page--1 .welcome {
    background: url("../images/cover.jpg") no-repeat center center fixed;
    background-size: cover;
}

.card-deck {
    display: flex;
}

.card {
    flex:1;
    padding-left: 0;
    padding-right: 0;
}

.contact {
    padding-bottom: 5rem !important;
}