.list-outside {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    list-style-position: outside;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.skills-icon {
    max-width: 120px !important;
}

.second-skills-row {
    margin-top: 30px;
}

.shards-landing-page--1 .welcome {
    background: url("../images/cover.jpg") no-repeat center center fixed;
    background-size: cover;
}

.card-deck {
    display: flex;
}

.card {
    flex:1;
    padding-left: 0;
    padding-right: 0;
}


.card-body {
    padding: 1.25rem;
    text-align: center;
}

.contact {
    padding-bottom: 5rem !important;
}

li {
    text-align: justify;
}